div{
    padding: 20px;
    border:solid green 40px;
    margin: 20px;
    width: 20px;
    height: 150px;
    float: left;
    animation-name:  myanimation;
    animation-duration: 5s;
}

@keyframes myanimation
{
    0% {background-color: red;}
    25% {background-color:green;}
    50% {background-color: yellow;}
    75% {background-color: black;}
    100% {background-color: blue;}

}