div{
    padding: 20px;
    border:solid green 40px;
    margin: 20px;
    width: 20px;
    height: 150px;
    float: left;
}
#d1{
    transition: width 20s height 20s;
}
div:hover{
    width: 200px;
    height: 250px;
}