div{
    padding: 20px;
    border:solid green 40px;
    margin: 20px;
    width: 20px;
    height: 150px;
    float: left;
}
#d1{
    transform: translate(100px,100px);
}
#d2{
    transform: rotateX(120deg);
}